In [56]:
import numpy as np
import pandas as pd
from collections import namedtuple, OrderedDict

def split(df, group):
    data = namedtuple('data', ['filename', 'object'])  #这个是创建一个tuple的类数据类型
  
    gb = df.groupby(group)
    #print(gb.groups.keys()) #这个含义是把名字也就是“键值”取出来
    #print(gb.groups)   #这个是取出分好组的序号
    # 下面是return成list的形式
    return [data(filename, gb.get_group(x)) for filename, x in zip(gb.groups.keys(), gb.groups)]

df =pd.read_csv('test1.csv')
df

,filename,width,height,class,xmin,ymin,xmax,ymax
0,201707281112_068.jpg,1920,1080,unregularly truck,1195,4,1920,934
1,201707281112_068.jpg,1920,1080,truck,947,555,1004,636
2,201708091604_032.jpg,720,404,car,450,150,578,242
3,201708091604_032.jpg,720,404,truck,344,171,359,189
4,201708091604_032.jpg,720,404,car,369,176,382,186
5,201708091604_032.jpg,720,404,rider,402,174,406,182
6,201708091604_032.jpg,720,404,e-bike,402,180,406,184
7,201708091604_032.jpg,720,404,unregularly truck,366,170,378,183
8,201708091604_032.jpg,720,404,unregularly truck,380,170,391,183
9,201708091604_038.jpg,720,404,car,360,170,409,211
10,201708091604_038.jpg,720,404,rider,458,173,468,192
11,201708091604_038.jpg,720,404,e-bike,460,185,468,197

In [57]:
# 要解决的问题就是把一列拆分多列
import numpy as np
import pandas as pd
from collections import namedtuple, OrderedDict


df =pd.read_csv('labelstest.csv')

df[["filename","xmin","ymin","xmax","ymax","occluded","class","subclass"]]=df['wocao'].apply(lambda x: pd.Series([i for i in x.split(" ")]))
df=df.drop('wocao',1)  #删除wocao的那一列
df.head()

,filename,xmin,ymin,xmax,ymax,occluded,class,subclass
0,1478019952686311006.jpg,950,574,1004,620,0,"""car""",NaN
1,1478019952686311006.jpg,1748,482,1818,744,0,"""pedestrian""",NaN
2,1478019953180167674.jpg,872,586,926,632,0,"""car""",NaN
3,1478019953689774621.jpg,686,566,728,618,1,"""truck""",NaN
4,1478019953689774621.jpg,716,578,764,622,0,"""car""",NaN

In [58]:
df.to_csv('xin.csv',index=0)

In [12]:
# 要解决的问题就是把一列拆分多列
import numpy as np
import pandas as pd
from collections import namedtuple, OrderedDict


df =pd.read_csv('labelstest.csv')

df[["filename","xmin","ymin","xmax","ymax","occluded","class","subclass"]]=df['wocao'].apply(lambda x: pd.Series([i for i in x.split(" ")]))
df=df.drop('wocao',1)  #删除wocao的那一列
df.head()

,filename,xmin,ymin,xmax,ymax,occluded,class,subclass
0,1478019952686311006.jpg,950,574,1004,620,0,"""car""",NaN
1,1478019952686311006.jpg,1748,482,1818,744,0,"""pedestrian""",NaN
2,1478019953180167674.jpg,872,586,926,632,0,"""car""",NaN
3,1478019953689774621.jpg,686,566,728,618,1,"""truck""",NaN
4,1478019953689774621.jpg,716,578,764,622,0,"""car""",NaN

In [13]:
#这个是将class那一列取出来，然后将那一列的数据以list方式循环读取出来，然后使用eval函数
#去掉“”，然后再转化为padas dataframe形式的

cc=[]
for k in df['class']:
    c=eval(k)
    cc.append(c)
#print(cc)

from pandas.core.frame import DataFrame
k={"class1":cc}   #cc是list类型
data=DataFrame(k)
#print(data)

df=pd.concat([df,data],axis=1)   #代表拼接在一起，并且axis=1，代表行对齐
df=df.drop('class',1)
df=df.drop('subclass',1)
df=df.drop('occluded',1)
df.head()

                  filename  xmin ymin  xmax ymax      class1
0  1478019952686311006.jpg   950  574  1004  620         car
1  1478019952686311006.jpg  1748  482  1818  744  pedestrian
2  1478019953180167674.jpg   872  586   926  632         car
3  1478019953689774621.jpg   686  566   728  618       truck
4  1478019953689774621.jpg   716  578   764  622         car

In [14]:
df.to_csv('xin1.csv',index=0)